h1,h2,h3 {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    text-justify: inter-word;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}
